body {
    background-color:#000;
    background-image: url("Images/Space2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    color: #fff;
    margin: 0%;
    font-style: italic ;
}


.box{
    background-color:#000;
    border: none;
    padding: 10px;
    margin: 20px 0;
    clear:both;
    width: auto;
}

.div1 img {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

.div2{
    width: 25%;
    float: left;
    margin: 20px;
    padding: 15px;
}


.div3{
    
    width: 25%;
    float: right;
    margin: 20px;
    padding: 15px;

}

.backbutton{
    height: 50px;
    width: 50px;
    background-color: #a9a9a9;    
}

.backbuttonimage {
    width: 80%;
    height: 80%;
    object-fit: fill;
}

.infobutton{
    height: 35px;
    width: 70px;
    background-color: #a9a9a9;

}

.tooltip-inner
                    {
                        width:200px;
                        height:auto; 
                        padding:4px;
                    }

h1{
    color: white;
    text-align:center;
}

h2{
    color: white;
    margin-top: 0%;
}


a{
    text-decoration: none;
}

a{
    color: white;
}

a:hover{
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    /* padding: 8px; */
    padding-right: 8px;

}


